[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "snap-python"]
	path = snap-python
	url = https://github.com/wizmer/snap-python.git
[submodule "snap"]
	path = snap
	url = https://github.com/snap-stanford/snap.git
